* {
	margin: 0;
	padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
	background-color: white;
    font-family: 'Avenir-Black';
}
.heading-container{
    height: 100%;
    width: 100%;
    position: relative;
}
